{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

    <h1>Welcome to NeuroFriends</h1>
    <p>Are you neurodivergent and looking for friends in campus who can relate to your experience? You're in the right place! Our website connects neurodivergent students with similar interests and experiences so that you can make meaningful connections and friendships.</p>
    <p>To get started, create an account and fill out your profile to tell others about yourself and your interests. You can also browse and search for other users based on their profiles and interests.</p>
    <a href="register">Create an Account</a>
    <a href="login">Login</a>

{% endblock %}