{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{%  block main %}
    <div class="container">
        <div class="row pt-4 pb-2 mb-4 mt-4">
            <div class="col-md-6 offset-md-3">
                <div class="d-flex justify-content-center">
                    <form action="/change_password" method="post" class="mx-auto text-center">
                        <div class="form-floating mb-3">
                            <input autocomplete="off" autofocus class="form-control" id="current_password" name="current_password" placeholder="Password" type="password" oninput="checkPassword()" style="width: 200px;">
                            <label class="form-label" for="current_password">Current Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input autocomplete="off" autofocus class="form-control" id="password" name="password" placeholder="Password" type="password" oninput="checkPassword()" style="width: 200px;">
                            <label class="form-label" for="password">New Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input autocomplete="off" autofocus class="form-control" id="confirmation" name="confirm_password" placeholder="Confirm Password" type="password" style="width: 200px;">
                            <label class="form-label" for="confirmation">Confirm Password</label>
                        </div>                             
                        <button class="btn btn-primary" type="submit" id="register-btn" disabled>Change Password</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="passwordHelpBlock" class="form-text text-center mb-4 d-flex justify-content-center">
            <p class="w-50">Your password must be at least 8 characters long and contain at least one lowercase letter, one uppercase letter, one number, and one special character.</p>
        </div>     
    </div> 

    <script>
        const passwordInput = document.getElementByName("password")[0];
        passwordInput.addEventListener("keyup", checkPassword);
    </script>
{% endblock %}